<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colors</key>
	<dict>
		<key>text-default</key>
		<string>black</string>
		<key>background-default</key>
		<string>white</string>
		<key>smaller-headers</key>
		<string>#333333</string>
		<key>toned-down</key>
		<string>#555555</string>
		<key>mid-gray</key>
		<string>#BBBBBB</string>
	</dict>
	<key>default</key>
	<dict>
		<key>color</key>
		<string>text-default</string>
		<key>backgroundColor</key>
		<string>background-default</string>
		<key>cursorColor</key>
		<string>text-default</string>
		<key>size</key>
		<integer>12</integer>
	</dict>
	<key>header-1</key>
	<dict>
		<key>isBold</key>
		<true/>
		<key>size</key>
		<integer>24</integer>
	</dict>
	<key>header-2</key>
	<dict>
		<key>isBold</key>
		<true/>
		<key>size</key>
		<integer>21</integer>
	</dict>
	<key>header-3</key>
	<dict>
		<key>isBold</key>
		<true/>
		<key>size</key>
		<integer>18</integer>
	</dict>
	<key>header-4</key>
	<dict>
		<key>color</key>
		<string>smaller-headers</string>
		<key>isBold</key>
		<true/>
		<key>size</key>
		<integer>16</integer>
	</dict>
	<key>header-5</key>
	<dict>
		<key>color</key>
		<string>smaller-headers</string>
		<key>isBold</key>
		<true/>
		<key>size</key>
		<integer>14</integer>
	</dict>
	<key>header-6</key>
	<dict>
		<key>color</key>
		<string>smaller-headers</string>
		<key>isBold</key>
		<true/>
		<key>size</key>
		<integer>12</integer>
	</dict>
	<key>em</key>
	<dict>
		<key>isItalic</key>
		<true/>
	</dict>
	<key>strong</key>
	<dict>
		<key>isBold</key>
		<true/>
	</dict>
	<key>code</key>
	<dict>
		<key>isMonospaced</key>
		<true/>
		<key>color</key>
		<string>toned-down</string>
	</dict>
	<key>horizontal-rule</key>
	<dict>
		<key>color</key>
		<string>toned-down</string>
	</dict>
	<key>list-item</key>
	<dict>
		<key>color</key>
		<string>text-default</string>
	</dict>
	<key>list-bullet</key>
	<dict>
		<key>color</key>
		<string>mid-gray</string>
	</dict>
	<key>list-enumerator</key>
	<dict>
		<key>color</key>
		<string>mid-gray</string>
	</dict>
	<key>link</key>
	<dict>
		<key>color</key>
		<string>toned-down</string>
	</dict>
	<key>reference</key>
	<dict>
		<key>color</key>
		<string>toned-down</string>
	</dict>
	<key>image</key>
	<dict>
		<key>color</key>
		<string>toned-down</string>
	</dict>
	<key>verbatim</key>
	<dict>
		<key>color</key>
		<string>toned-down</string>
		<key>isMonospaced</key>
		<true/>
	</dict>
	<key>HTML</key>
	<dict>
		<key>color</key>
		<string>toned-down</string>
	</dict>
	<key>comment</key>
	<dict>
		<key>color</key>
		<string>mid-gray</string>
	</dict>
	<key>blockquote</key>
	<dict>
		<key>color</key>
		<string>toned-down</string>
	</dict>
</dict>
</plist>
